{% extends 'base.html' %}
{%load static %}
{% block content %}

<!-- Carousel Start -->
<!-- <div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-12">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for slider in slide %}
                    <div class="carousel-item position-relative" style="height: 150px;">
                        <img class="position-absolute w-100 h-100" src="{{ MEDIA_URL }}{{ slider.photo.url }}"
                            style="object-fit: cover;">

                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>

    </div>
</div> -->
<style>

    .responsive-image {
      width: 100%;
      overflow: hidden; 
      margin-left: 10px;
     padding-right: 10px;
    }

    .responsive-image img {
      width: 100%; 
      height: auto; 
    }

    @media only screen and (min-width: 768px) {
      .responsive-image {
        height: 400px; 
      }
    }

    @media only screen and (max-width: 767px) {
      .responsive-image {
        height: 150px; 
      }
    }
  </style><div class="responsive-image">
    <img src="{% static 'img/c.png' %}" alt="Responsive Image">
  </div>
  
    <div class="tab">
        {% for category in categories %}
        <div class="tab-item">
            <button class="tablinks" onclick="openCategory(event, '{{ category.name|lower }}')">
                <img src="{{ category.image.url }}" alt="{{ category.name }}">
            </button>
            <p style="font-size: 12px;">{{ category.name }}</p>
        </div>
        {% endfor %}
    </div>


{% for category in categories %}
<div id="{{ category.name|lower }}" class="tabcontent {% if forloop.first %}active{% endif %}">
    <!-- Brand Content -->
    <div class="brands">
        <button class="brand" onclick="openAllBrands()">All</button>
        {% for brand in category.brand_set.all %}
        <button class="brand" onclick="openBrand(event, '{{ brand.name|lower }}')">{{ brand.name }}</button>
        {% endfor %}
    </div>

    <!-- Product Cards -->
    <div class="row px-lg-2">
        {% for brand in category.brand_set.all %}
        {% for product in brand.product_set.all %}
        <div id="{{ brand.name|lower }}"
            class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1 brandcontent {% if forloop.first %}active{% endif %}">
            <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{{ product.image.url }}" alt="">
                </div>
                <div class="product-details">
                    <p class="delivery-text">Eligible Free Delivery</p>
                    <p class="text-decoration-none text-truncate product-name">{{ product.name }}</p>
                    <div class="d-flex  mt-2">
                        <h6>UGX {{ product.price }}</h6>
                    </div>
                    <br>
                    <div class="d-flex  mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>

                    </div>
                    <div class="add-to-cart-btn ">
                        <button class="btn btn-primary btn-block">ADD TO CART</button>
                        <a href="" class="call-icon d-lg-none">
                            <div class="icon">
                                <i class="fa fa-phone-alt"></i>
                            </div>
                            <div class="name">
                                <span>Call</span>
                            </div>
                        </a>
                    </div>



                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endfor %}
</div>


<!-- Categories End -->


<!-- Products Start -->

<!-- Offer Start -->



<!-- Vendor Start -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Add 'active' class to the first indicator and first carousel item
        document.querySelector("#header-carousel .carousel-indicators li:first-child").classList.add("active");
        document.querySelector("#header-carousel .carousel-inner .carousel-item:first-child").classList.add("active");

        // Set the initial state to display the first category and its brands
        var initialCategory = document.getElementById("category1");
        initialCategory.classList.add("active");

        // Get the first brand content for the initial category and display it
        var initialBrand = initialCategory.querySelector(".brandcontent");
        initialBrand.style.display = "block";

        // Add 'active' class to the first category button
        var initialTabButton = document.querySelector(".tablinks");
        initialTabButton.classList.add("active");
    });

    function openCategory(evt, categoryName) {
        var i, tabcontent, tablinks;

        // Hide all category content
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].classList.remove("active");
        }

        // Deactivate all tablinks
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }

        // Display the selected category content
        document.getElementById(categoryName).classList.add("active");
        evt.currentTarget.classList.add("active");

        // Hide all brand content when a new category is selected
        var brandcontent = document.getElementsByClassName("brandcontent");
        for (i = 0; i < brandcontent.length; i++) {
            brandcontent[i].style.display = "none";
        }

        // Display the first brand content for the selected category
        var initialBrand = document.getElementById(categoryName).querySelector(".brandcontent");
        initialBrand.style.display = "block";
    }


    // Function to open all brand contents
    function openAllBrands() {
        var i, brandcontent, tablinks;
        // Show all brand content
        brandcontent = document.getElementsByClassName("brandcontent");
        for (i = 0; i < brandcontent.length; i++) {
            brandcontent[i].style.display = "block";
        }
        // Remove 'active' class from all brand buttons
        tablinks = document.getElementsByClassName("brand");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }
    }
    function openBrand(evt, brandName) {
        var i, brandcontent, tablinks;
        // Hide all brand content
        brandcontent = document.getElementsByClassName("brandcontent");
        for (i = 0; i < brandcontent.length; i++) {
            brandcontent[i].style.display = "none";
        }
        // Remove 'active' class from all brand buttons
        tablinks = document.getElementsByClassName("brand");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }
        // Show the selected brand content and add 'active' class to the clicked brand button
        document.getElementById(brandName).style.display = "block";
        evt.currentTarget.classList.add("active");
    }
</script>

{% endblock %}