{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid">
    {% if messages %}
    <div class="container-fluid p-0">
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="message-container">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  

    <div class="responsive-image">
        <img src="{% static 'img/c.png' %}" alt="Slide 1">
        <img src="{% static 'img/c1.jpg' %}" alt="Slide 2">
        <img src="{% static 'img/ccc.webp' %}" alt="Slide 3">
    </div>

    <div class="tab">
        {% for category in categories %}
        <div class="tab-item">
            <button class="tablinks{% if forloop.first %} active{% endif %}">
                <img src="{{ category.image.url }}" alt="{{ category.name }}">
            </button>
            <p style="font-size: 12px;">{{ category.name }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="tabcontent">
        <div class="brands">
            <button class="brand">All</button>
            {% for br in brands %}
            <button class="brand">{{ br.name }}</button>
            {% endfor %}
        </div>
        <div class="row px-lg-2" id="product-list">
            {% for pr in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1 brandcontent">
                <!-- Product details -->
                <div class="product-item bg-light">
                    <div class="brand-new-text">Brand New</div>

                    <div class="share-icon">
                        <div class="icon2">
                            <i class="fas fa-share"></i>
                        </div>
                        <span>Share</span>
                    </div>

                    <div class="product-img position-relative overflow-hidden">
                        <a href="{% url 'product_detail' pr.id %}">
                            <img class="img-fluid w-100" src="{{ pr.image.url }}" alt="">

                        </a>
                    </div>

                    <div class="product-details">
                        <p class="delivery-text">Eligible Free Delivery</p>
                        <a href="{% url 'product_detail' pr.id %}" style="color: #343a40;">
                            <p class="text-decoration-none text-truncate product-name">{{ pr.name }}</p>
                        </a>

                        <div class="d-flex">
                            <h5>UGX {{ pr.price|intcomma }}</h5>

                        </div>
                        <div class="discount-container">
                            <div class="discount-amount">
                                UGX 2,000,000
                            </div>
                            <div class="discount-percent">
                                -17.7%
                            </div>
                        </div>

                        <div class="d-flex">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>

                        </div>
                        <p class="warranty-text">Warranty protection policy applies on all our products</p>

                        <div class="add-to-cart-btn ">
                           
                            <form action="{% url 'add_to_cart' pr.id %}" method="post" >
                                {% csrf_token %}
                                <button data-product-id="{{ pr.id }}" type="submit" id="add"  class="btn btn-primary custom-toast   success-toast" >ADD TO CART</button>
                                
                                </form>
                                                                               
                                <a href="tel:+256700585354" class="call-icon d-lg-none">
                                    <div class="icon">
                                        <i class="fa fa-phone-alt"></i>
                                    </div>
                                    <div class="name">
                                        <span style="margin-left: 10px; color: #343a40;">Call</span>
                                    </div>
                                </a>
                                
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
        document.addEventListener('DOMContentLoaded', function () {
        var slides = document.querySelectorAll('.responsive-image img');
        var currentSlide = 0;
        var slideInterval = setInterval(nextSlide, 6000);

        function nextSlide() {
            slides[currentSlide].classList.remove('active');
            currentSlide = (currentSlide + 1) % slides.length;
            slides[currentSlide].classList.add('active');
        }
    });


document.addEventListener('DOMContentLoaded', function () {
    var addToCartButtons = document.querySelectorAll('.add-to-cart-btn button');

    addToCartButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            var productId = this.getAttribute('data-product-id');
            addToCart(productId);
        });
    });

    function addToCart(productId) {
        // Make an asynchronous request to the server to add the product to the cart
        fetch("{% url 'add_to_cart' 0 %}".replace('0', productId), {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value,
                'Content-Type': 'application/json',
                'Accept': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // Display the flash message
            showToast(data.message, data.status, 100000);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function showToast(message, status, duration) {
        // Your showToast function remains the same
        // ...

        let box = document.createElement("div");
        box.classList.add(
            "toast", `toast-${status}`); // Change toastType to status
        box.innerHTML = `<div class="toast-content-wrapper">
                          
                            <div class="toast-message">${message}</div>
                            <div class="toast-progress"></div>
                        </div>`;
        duration = duration || 5000;
        box.querySelector(".toast-progress").style.animationDuration =
            `${duration / 1000}s`;

        let toastAlready =
            document.body.querySelector(".toast");
        if (toastAlready) {
            toastAlready.remove();
        }

        document.body.appendChild(box);
    }

    // Change the class to 'custom-toast' instead of 'custom-toast.success-toast'
    let submit = document.querySelector(".custom-toast");

    submit.addEventListener("click", (e) => {
        showToast("Article Submitted Successfully", "success", 100000);
    });

    warn.addEventListener("click", (e) => {
        e.preventDefault();
        showToast("!warning! server error", "warning", 5000);
    });
});
setTimeout(function() {
        document.getElementById('message-container').style.display = 'none';
      }, 9000);

</script>

<style>
    #add{
        width: 300px;
    }
    @media (max-width: 767px) {
        #add {
            width: 140px; 
    
  }
  
}
@media only screen and (max-width: 360px) {
        #add {
            width: 130px; 
    
  }
  
}
</style>

{% endblock %}