{% extends 'admin1/base.html' %}
{% load humanize %}

{% block content %}

<h1>Order Detail</h1>

<style>
    table {
        width: 300%; 
        border-collapse: collapse;
    }

    table td, table th {
        padding: 8px;
        border: 1px solid #ddd;
        /* text-align: center;  */
        width: auto;
    }

    @media only screen and (max-width: 600px) {
        table td, table th {
            padding: 6px;
        }
    }

    .product-image {
        width: 50px; 
        height: auto; 
        display: block;
        margin: 0 auto; 
    }

    .delete-btn {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 4px;
        cursor: pointer;
    }
    .messages {
        margin-bottom: 20px;
    }

    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;

    }

</style>

<div class="main">
    <div class="toggle">
        <ion-icon name="menu-outline"></ion-icon>
    </div>

    <div class="details">
        <div class="recentOrders2">
            <div class="cardHeader">
            </div>
            <div class="cardHeader">
                <h2>Order Details of  {{ order.first_name }}</h2>
                <a href="{% url 'order_list' %}" class="btn">Back to Orders</a>
            </div>
            <div class="cardHeader">
                <h2>Total Amount: UGX {{ order.total_price|intcomma }}.</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.items.all %}
                    <tr>
                        <td><img src="{{ item.product.image.url }}" alt="" class="product-image"></td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>UGX {{ item.price|intcomma }}.</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
      
        </div>
    </div>
  
</div>

{% endblock %}
